<launch>
    <arg name="x_start" default="0.22"/>
    <arg name="y_start" default="0.22"/>
    <arg name="omega_start" default="1.6"/>
    <arg name="Wall_step" default="0"/>
    <arg name="Wall_cost" default="10"/>
	<arg name="map_file" default="lab_maze_2017.txt"/>
    <include file="$(find ras_project_localisation)/launch/localisation.launch" >
        <arg name="x_start" value="$(arg x_start)"/>
        <arg name="y_start" value="$(arg y_start)"/>
        <arg name="omega_start" value="$(arg omega_start)"/>
    </include>
    <include file="$(find motor_controller)/launch/motors.launch" />
    <include file="$(find rplidar_ros)/launch/rplidar.launch" />
    <include file="$(find ras_project_uarm)/launch/uarm_control.launch" />
    <node pkg="ras_project_odometry" type="odometry_node" name="odometry_node"/>
    <node pkg="ras_project_lidar" type="lidar_transform" name="lidar_transform"/>
	<node pkg="ras_project_path_planning" type="OccupancyGrid_node" name="OccupancyGrid_node">
		<param name="map_file" value="$(find ras_project_localisation)/map/$(arg map_file)" />
	</node>
	<node pkg="ras_project_path_planning" type="ras_project_path_planning_node" name="ras_project_path_lanning_node" output="screen">
		<param name="Wall_step" value="$(arg Wall_step)" />
		<param name="Wall_cost" value="$(arg Wall_cost)" />
    </node>

	<node pkg="ras_project_error_detection" type="error_detection_node" name="error_detection"/>
	<node pkg="ras_project_path_following" type="path_following" name="path_following" />
    <node pkg="ras_project_path_planning" type="Exploration_mode" name="Exploration_mode" />
</launch>
