<launch>


	<include file="$(find ras_project_localisation)/launch/localisation.launch" />
	<include file="$(find ras_maze_launch)/launch/maze_visualize.launch" />
	<node pkg="ras_project_path_planning" type="ras_project_path_planning_node" name="ras_project_path_lanning_node"/>

	<node pkg="ras_project_path_following" type="path_following" name="path_following" />

</launch>
