<launch>
  <node>
     <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" >
     <param name="serial_port"         type="string" value="/dev/ttyUSB0"/>  
     <param name="serial_baudrate"     type="int"    value="115200"/>
     <param name="frame_id"            type="string" value="laser"/>
     <param name="inverted"            type="bool"   value="false"/>
     <param name="angle_compensate"    type="bool"   value="true"/>
  </node>
  <node name="left_motor" pkg="phidgets" type="motor">
      <param name="serial" type="int" value="475517" />
      <param name="name" type="string" value="left_motor" />
    </node>
    <node name="right_motor" pkg="phidgets" type="motor">
        <param name="serial" type="int" value="475398" />
        <param name="name" type="string" value="right_motor" />
    </node>
</launch>
